body {
    width: 1300px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #607D8B;
}
#tall {
    width: 100%;
    height: 400px;
    margin: 10px 0 10px 0;
}
#map {
    width: 610px;
    height: 400px;
    margin: 10px 0 10px 0;
}
.card-panel {
    border-radius: 6px;
}
div.col.l12.card-panel {
    padding: 15px 20px 0 20px;
}
a.waves-effect.waves-light.btn {
    margin-left: 55px;
}
input#public {
    color: #fff;
}
h4 {
    margin: 5px 0 30px 0;
    font-family: Helvetica;
    font-weight: 100;
    text-align: center;
    color: white;
}
.input-field .prefix.active, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #f06292;
}
.dropdown-content li>span {
    color: white;
    background-color: #f06292;
    margin: 2px 0 2px 0;
}
.input-field>label, label{
    color: white;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid white; 
}
input[type=number]:not(.browser-default), input[type=text]:not(.browser-default) {
    border-bottom: 1px solid white;
    color: white;
}
input[type=number]:not(.browser-default):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #f06292;
    box-shadow: 0 1px 0 0 #f06292;
}
h5 {
    font-size: 10px;
    display: inline-block;
    margin-left: 175px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h4.bold {
    font-weight: 600;
    color: #fff;
    margin: 0 0 10px 0;
}
input#heading, input#distance {
    border: none;
    text-align: center;
    margin: 0;
    font-size: 21px;
    font-style: italic;
    color: black;
}
hr {
    margin: 20px;
}
h4.result {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}
p {
    margin: 10px 0 0 0;
    font-weight: 600;
    color: red;
    text-align: center;
}
h6 {
    text-align: center;
    margin: 10px 0 30px 0;
    font-size: 21px;
    font-style: italic;
}
hr {
    margin: 10px auto 20px auto;
    width: 550px;
    border: .5px solid #fff;
}