<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>Flight Time Caluculator</title>
    
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    
    <link rel= "stylesheet" href= "{% static 'pilot/css/style.css' %}">
    <script type="text/javascript" src="{% static 'pilot/js/jquery.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCrrMT_YfD6nyMB34nZaIggYUH2LdJI_M&callback=initMap"></script>

</head>
<body>
    <div class="row">
        <h4>Flight Time and Distance Caluculator</h4>
        <div class="col l12 card-panel teal lighten-2">
            <div class="row">
                <form action="/calculate" method="POST">
                    {% csrf_token %}
                    <div class="input-field col s3">
                        <i class="material-icons prefix">cloud</i>
                        <select name="wind">
                            <option value="yes" selected>Live Winds</option>
                            <option value="no">No Wind</option>
                        </select>
                        <label>Wind</label>
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">airplanemode_active</i>
                        <input id="speed" type="number" name="speed">
                        <label for="speed">Cruise Speed</label>
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">flight_takeoff</i>
                        <input id="departing_airport" type="text" placeholder="ONT" name="departing">
                        <label for="departing_airport">Departing Airport</label>
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">flight_land</i>
                        <input id="arriving_airport" type="text" placeholder="OAK" name="arriving">
                        <label for="arriving_airport">Arriving Airport</label>
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a class="waves-effect waves-light btn cyan darken-4"><i class="material-icons right">public</i>
                        <input type="submit" value="Calculate" id="public">
                    </a>
                    <h5>* if not specified speed will be 140kts *</h5>
                </form>
            </div>
        </div>
        <div class="col l6 card-panel teal lighten-2">
            <div id="tall">
                {% if "wind" and "speed" and "arrive" and "depart" in request.session %}
                    <h4 class="bold">{{ request.session.depart }} <i class="material-icons prefix">forward</i> {{ request.session.arrive }}</h4>
                    <hr>
                    <div class="row">
                        <div class="col l6">
                            <h4 class="result">Time Difference</h4>
                            <h6>Nothing</h6>
                            <h4 class="result">Distance</h4>
                            <h6>Nothing</h6>
                            <h4 class="result">Heading</h4>
                            <h6>Nothing</h6>
                        </div>
                        <div class="col l6">
                            <h4 class="result">Flight Time</h4>
                            <h6>Nothing</h6>
                            <h4 class="result">Speed</h4>
                            <h6>{{ request.session.speed }}</h6>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col l6 card-panel teal lighten-2">
            <div id="map"></div>
        </div>
    </div>
</body>
</html>